{# This file has been modified to extend from main instead of base, so that custom styles and scripts are still inlcuded #} {% extends "main.html" %} {% block content %}

<h1 id="404-page-not-found">404</h1>

<p><strong>{% trans %}Page not found{% endtrans %}</strong></p>

{% endblock %}