{% extends "base.html" %} {% block htmltitle %}
<title>
    {# remove HTML tags from the title before rendering it #}{% if page and page.title and not page.is_homepage %}{{ page.title|title }} - {% endif %}{{ config.site_name }}
</title>
{%endblock%} {% block styles %} {#super() is the styling already in the theme #} {{ super()}}
<!-- SHU styling -->
<link rel="stylesheet" href="{{ 'css/shu-styles.css'|url }}" /> {%endblock%} {% block site_meta %} {#super() is the meta tags in the theme #} {{ super()}}
<!-- PWA icons and information -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ config.site_url }}{{ '/img/apple-touch-icon.png'|url}}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.site_url }}{{ 'img/favicon-32x32.png'|url}}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.site_url }}{{ 'img/favicon-16x16.png'|url}}" />
<link rel="manifest" href="{{ config.site_url }}{{ 'img/manifest.json'|url}}" />
<link rel="mask-icon" href="{{ config.site_url }}{{ 'img/safari-pinned-tab.svg'|url}}" color="#b6004c" />
<meta name="apple-mobile-web-app-title" content="{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}" />
<meta name="application-name" content="{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}" />
<meta name="msapplication-TileColor" content="#b91d47" />
<meta name="msapplication-config" content="{{ config.site_url }}{{'img/browserconfig.xml'|url}}" />
<meta name="theme-color" content="#7b003a" />
<!-- Facebook Meta Tags -->
<meta property="og:title" content="{# remove HTML tags from the title before rendering it #}{% if page and page.title and not page.is_homepage %}{{ page.title|title }} - {% endif %}{{ config.site_name }}" /> {% if page and page.canonical_url %}
<meta property="og:url" content="{{ page.canonical_url }}" /> {% endif %}
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ config.site_url }}{{'img/social-share.jpg'|url}}" />
<meta property="og:description" content="{{ config.site_description }}" />
<!-- Twitter Meta Tags -->
<meta name="twitter:title" content="{# remove HTML tags from the title before rendering it #}{% if page and page.title and not page.is_homepage %}{{ page.title|title }} - {% endif %}{{ config.site_name }}" />
<meta name="twitter:card" content="summary_large_image" /> {% if page and page.canonical_url %}
<meta name="twitter:url" content="{{ page.canonical_url }}" /> {% endif %}
<meta name="twitter:image" content="{{ config.site_url }}{{'img/social-share.jpg'|url}}" />
<meta name="twitter:description" content="{{ config.site_description }}" /> {% endblock%} {%block scripts %} {# calling super here ensures the default theme scripts are still part of this block #} {{super()}}
<script src="{{'js/mermaid.min.js'|url}}"></script>
<script src="{{'js/init-mermaid.js'|url}}" async defer></script>
<script src="{{'js/img-links.js'|url}}" async defer></script>
<script src="{{'js/webshare-api.js'|url}}" async defer></script>
<script>
    //register the service worker for asset caching
    navigator.serviceWorker
        .register("{{ config.site_url }}{{'sw.js'|url}}?{{ build_date_utc.strftime('%Y%j%H%M%S%f') }}")
        .then((res) => console.log("Service worker registered"))
        .catch((e) => console.log("Error registering service worker", e));
    //if a link ends in .md, fix it so that it doesn't
    document.querySelectorAll("a").forEach((anchor) => {
        let src = anchor.src;
        if (src && src.endsWith(".md")) {
            anchor.src = anchor.src.substring(0, anchor.src.length - 3);
        } else if (src && src.endsWith(".md/")) {
            anchor.src = anchor.src.substring(0, anchor.src.length - 4);
        }
    });
</script>
<script defer data-domain="aserg.codeberg.page/shu-dev-process" src="https://plausible.kaduardo.me/js/plausible.hash.exclusions.outbound-links.js" data-exclude="/*/@pages-develop,/*/@pages-develop/*"></script>
{%endblock%} {# The entry point for the ReadTheDocs Theme. Any theme customisations should override this file to redefine blocks defined in the various templates. The custom theme should only need to define a main.html which `{% extends "base.html" %}`
and defines various blocks which will replace the blocks defined in base.html and its included child templates. #} {% block footer %} {{ super() }}
<a target="_blank" href="/shu-dev-process-legacy/#63-analytics">Privacy</a> {% endblock %}