/* SHU font import */

@font-face {
    font-family: clerkenwell;
    src: url("../fonts/FS Clerkenwell.otf");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: clerkenwell;
    src: url("../fonts/FS Clerkenwell Bold.otf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: clerkenwell;
    src: url("../fonts/FS Clerkenwell Italic.otf");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: clerkenwell;
    src: url("../fonts/FS Clerkenwell Light.otf");
    font-weight: lighter;
    font-display: swap;
}

@font-face {
    font-family: firaCode;
    src: url("../fonts/FiraCode-variableFont.ttf");
    font-display: swap;
}


/* variables */

:root {
    /* this value should not be changed */
    --accent-root: #ba0046;
    /* this value should not be changed */
    --accent-root-dark: #621b40;
    --accent-color: var(--accent-root);
    --accent-color-dark: var(--accent-root-dark);
    --heading-font: clerkenwell, "FS Clerkenwell", "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    --secondary-font: clerkenwell, "FS Clerkenwell Light", FFMetaWebPro, Geneva, "Lucida Grande", Arial, sans-serif;
    --monospace-font: firaCode, "Fira Code", consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}


/* setting the fonts */

body {
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead,
blockquote,
th,
header {
    font-family: var(--heading-font);
}

pre,
kbd,
code,
samp,
.rst-content tt,
.rst-content code {
    font-family: var(--monospace-font);
}


/* lazy images fade in */

img[loading="lazy"] {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
}


/*color the top of the sidebar*/

.wy-side-nav-search,
.wy-nav-top {
    background-color: var(--accent-color);
}

.wy-side-nav-search input[type="text"] {
    border-color: var(--accent-color-dark);
}

.wy-side-nav-search input[type="text"] {
    border-width: 2px;
}


/* change the font of the sidebar header*/

.wy-side-nav-search a,
.wy-nav-top a {
    font-family: var(--heading-font);
    font-size: 110%;
}

.wy-menu-vertical ul {
    margin-left: 1em;
}


/*color content links*/

.wy-nav-content a {
    color: var(--accent-color);
}


/* visually hide markdown only elements from the end user */

.mkdocs-hide {
    display: none;
}


/* ensure links have a reasonable tap target size */

.wy-nav-content a {
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    margin-top: 4px;
    margin-bottom: 4px;
}


/* ensure "view original" links are on a new line */

.view-original-link {
    display: block;
}


/* annotate search result links with respective level pills */

#mkdocs-search-results article h3 a:after {
    color: var(--accent-color-dark);
    background-color: #eee;
    margin-left: 0.6em;
    padding: 0.2ch 0.4em;
    border-radius: 0.4em;
    font-size: smaller;
    vertical-align: middle;
    text-align: center;
}

#mkdocs-search-results article h3 a:hover:after {
    color: white;
    background-color: var(--accent-color);
}

#mkdocs-search-results article h3 a[href*="level-4"]:after {
    content: "Level 4";
}

#mkdocs-search-results article h3 a[href*="level-5"]:after {
    content: "Level 5";
}

#mkdocs-search-results article h3 a[href*="level-6"]:after {
    content: "Level 6";
}


/* Style web sharing & copy links */

.hidden {
    display: none;
}

.copied-text::after,
.shared-text::after {
    content: "copied!";
    color: var(--accent-color-dark);
    background-color: #eee;
    margin-left: 0.6em;
    padding: 0.2em 0.2ch;
    border-radius: 0.4em;
    font-size: small;
    vertical-align: middle;
    text-align: center;
}

.shared-text::after {
    content: "sharing...";
}


/* when dark mode is preferred, the text and background colors will be updated */

@media (prefers-color-scheme: dark) {
     :root,
    body,
    .wy-nav-content-wrap {
        background-color: rgb(52, 49, 49);
        color: white;
    }
    .wy-nav-content {
        background-color: #404040;
        --accent-color: #ecdae1;
        --accent-color-dark: #ecdae1;
    }
    .wy-nav-content a:not(.headerlink) {
        text-decoration: underline;
        text-decoration-color: var(--accent-root);
        text-decoration-thickness: 1.5px;
    }
    #mkdocs-search-results article h3 a:hover:after {
        background-color: #eee;
    }
}


/* when the site is being used as an installed PWA, the header to access navigation is made sticky */

@media all and ((display-mode: minimal-ui) or (display-mode: standalone)) {
    .wy-body-for-nav,
    .wy-nav-top {
        position: sticky;
        top: 0px;
    }
}